@{
    ViewBag.Title = "ItemCars";
}

<style>
/*style.css*/
.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 400px; 
    height: 150px
}

</style>

<h2>ItemCars</h2>

<h1>id is {{id}}</h1>

