<div ng-show="err">err: {{err}}</div>
<div ng-show="msg">msg: {{msg}}</div>

<p>Exists: <strong>{{file.Exists}}</strong></p>
<p>File Name: <strong>{{file.Name}}</strong></p>
<p>Path: <strong>{{file.Path}}</strong></p>
<p>FileDateTime: <strong>{{file.FileDateTime}}</strong></p>
<p />
<p>Exists: <strong>{{file.EncryptExists}}</strong></p>
<p>Encrypted File: <strong>{{file.EncryptName}}</strong></p>
<p>Encrypted Path: <strong>{{file.EncryptPath}}</strong></p>
<p>Encrypted DateTime: <strong>{{file.EncryptDateTime}}</strong></p>

