@{
    ViewBag.Title = "Costco Admin";
}


@section styles {
}

    <div id="costco-view" class="container">
        <h3><span ng-bind="heading"></span><span ng-class="{'loading-large': loading}"></span></h3>
        <div ng-view></div>
    </div>


@section scripts {
}

