.loading
{
    background:url('/Images/Linkout/loading.gif') no-repeat center center;
}
.loading-large
{
    background:url('/Images/Linkout/loading-large.gif') no-repeat center center;
}
button.btn[disabled] 
{
    cursor: not-allowed;
}

.fill-body
{
    position:fixed;
    top:160px;
    bottom:5px;
    overflow: scroll;
}
#panel-left
{
    left:50px;
    right: 400px;
}
#panel-right
{
    right: 50px;
    width:300px;
}
