@*Costco Partials Map*@

<div rw-inst-map ggl-maps="gglMaps" map="map">
    @*<div ggl-map-ctrl ng-cloak style="display:none">
        <a href="" target="_blank" title="View Full Size Map" ng-click="fullmap()">Full Size Map</a>
    </div>*@
</div>

