@{
    ViewBag.Title = "Download Index";
}

<h2>Download Index</h2>

<ol class="round">
    <li class="one">
        <h5> @Html.ActionLink("List", "List", "Download") </h5>
    </li>
    <li class="two">
        <h5> @Html.ActionLink("CarParts", "CarParts", "Download") </h5>
    </li>
</ol>
