<div class="thin-banner"></div>

<div id="about-roadwire">

    <h3>ABOUT US</h3>

    <h4>About Roadwire</h4>
    <p>Family owned and operated since 1969, Roadwire is a company that manufactures OEM-styled leather-trimmed interiors and patented technology designed to enhance comfort and safety for the next generation of automobiles. We represent three generations of entrepreneurship in the automotive aftermarket, as the pioneers of automotive restyling: the first manufacturer of restoration interiors for classic cars, then the first American manufacturer to supply automakers with interior upgrades. This rich legacy provides the ingenuity to be an automotive technology incubator as we assist inventors in manufacturing and distributing their designs, as well as our own, that add value to everyone who gets behind the wheel. Beginning with leather interiors and sunroofs, and now transforming vehicles and the driving experience with innovative technology, the best has yet to come for our family of companies.</p>
    <p>Providing the highest quality products on the market, and maintaining stringent safety standards, Roadwire is built upon the foundations of honesty, trust, faith, and respect. We still build pride into every product and appreciate your business.</p>

    <div expand-sect expand-title='Why Car Dealers Trust Roadwire'>
        <p>For over 40 years, Roadwire has been the choice of car dealers nationwide to enhance and upgrade the luxury of their customers. Most often, customers want a higher level of luxury but do not want to invest in a higher trim level. Instead, they buy the mid-level trim and upgrade their seats and interiors with Roadwire. We partner with some of the biggest car brands in the world, including major car manufacturers such as Mitsubishi, Dodge, and Ford and well as the top performance brands including as Shelby, Saleen, and ROUSH.</p>
        <p>For the first time, Roadwire is bringing its dealer upgrades direct from the factory to you in order to save you money. While you may find many covers on eBay that fit your seats, Roadwire manufactures complete upholstery replacement products that look as if they came new with your car. In addition, rather than the mistakes and overrun leather products that you will find on eBay, Roadwire’s products are custom made specifically to fit your vehicle with your choice of colors. You can be confident that you are getting the highest quality products at the best deal by buying direct from the source.</p>
        <p>Roadwire manufactures OEM-styled leather-trimmed interiors and patented technology designed to enhance comfort and safety for the next generation of automobiles. We represent three generations of entrepreneurship in the automotive aftermarket and are the pioneers of automotive restyling, are the first manufacturer of restoration interiors for classic cars, and are the first American manufacturer to supply automakers with interior upgrades. We still build pride into every product and appreciate your business.</p>
    </div>

    <div expand-sect expand-title='Company History'>
        <div class="pull-left"> 
            <img alt="Roadwire History" src="@Url.Content("~/Images/Linkout/history.png")"  class="img-polaroid"/>
         </div>
        <p>Roadwire began with the culmination of John Forrister’s lifetime of experience in automotive sales in the largest car market in the world: Los Angeles, CA. In 1969, he created the first company ever to provide customized interiors and accessories to car dealers, giving customers what they wanted at prices they could afford. He created Distinctive Industries (DI), which began producing and selling interiors for the beautiful muscle cars of the generation.</p>
        <p>This tradition continues to this day with Distinctive Industries Specialty Division interiors, known by car clubs, collectors, and enthusiasts as the best reproductions on the market,utilizing the identical materials with which the originals were initially built, and manufactured in Los Angeles, CA.</p>
        <p>Dwight Forrister followed in his father’s entrepreneurial footsteps by pioneering the industry further and founding Classic Soft Trim (CST). As automobiles began to change rapidly and come into the US market from other countries, Dwight leveraged the competencies of DI’s manufacturing capabilities to provide comfortable and stylish interiors for nearly every car.</p>
        <p>When Japanese cars became popular, Dwight made sure CST was there to provide the interior appointments that consumers wanted, which Japanese factories were not producing. His vision that everyone wanted to ride the road of life in comfort and style led CST to become the largest manufacturer and installer of interiors in the world.</p>
        <p>So much demand was generated for car dealers to customize their inventory, that rapid growth extended the CST presence across the country. As the largest automotive restyler skyrocketed to success, CST sold so many sunroofs that it made sense to purchase the largest sunroof manufacturer in the US, and so Inalfa Sunroofs joined the CST family. It was renamed Signature Sunroofs for the best selling product line, the Signature Series, and sunroofs continue to be made in Detroit and installed at all 26 company-owned CST locations.</p>
        <p>With the presence of CST in dozens of markets nationwide,OEMs became interested in having their interiors crafted by the leaders in automotive customization. Roush, Shelby, and Magna were followed by Ford, Chrysler, and GM, as American companies sought the impeccable appointments CST built its reputation upon. Soon, Land Rover, Subaru, and Toyota followed suit in order to stay competitive with their American counterparts.</p>
        <p>The automotive restyling industry invented by CST grew substantially, and local, independent trim shops became bombarded with requests from their customers for Classic Soft Trim interiors, as customers began demanding them by name.</p>
        <p>Continuing two generations of entrepreneurial spirit, Roadwire was founded by Aaron Forrister to supply Classic Soft Trim’s precision-crafted leather interiors and accessories to other restyling professionals. Now, the Roadwire Authorized Installer Network represents over 10,000 shops, in every state in the US, and includes OEM partnerships with multiple manufacturers, creating over 100,000 completely satisfied customers annually.</p>
        <p>Roadwire has transitioned from an automotive aftermarket manufacturer and wholesaler into an automotive technology innovation company.</p>
        <p>Leveraging the lessons of his father and grandfather, Aaron Forrister has a vision of supplying the latest automotive technology integrations for global clientele. Beginning with myTop, the world’s first automatic convertible Jeep top for JK Wranglers, Roadwire has an opportunity to alleviate the dilemma of the hard top versus soft top conundrum that Jeep owners have faced for 70 years.</p>
        <p>These and other new products coming soon are evidence of the growth and evolution of the family of companies, and will ensure a stable path to future success.</p>
    </div>

    <div expand-sect expand-title='Testimonials'>
        <div class="pull-left"> 
            <img alt="" src="@Url.Content("~/Images/Linkout/testimonials.png")"  class="img-polaroid"/>
         </div>
        <p>"Anybody wanting to update their interiors with leather or heated seats or custom interiors should contact ROADWIRE. they even do some of FOOSES stuff and those car customizer programs. Sunroofs are also one of their biggies. They make them for the industry right in NOVI.  GO Roadwire, you're the best in the business!"</p>
        <p>- Wayne S. from Michigan</p>
        <br />
        <p>"I own an auto upholstery shop in Utah. I have been buying kits from Roadwire for the last 6 years, and I have been VERY happy with them. The quality and craftsmanship is the best I have seen. The customer service is A+. After you install a Roadwire kit you will NEVER go back to the others. Thanks Roadwire!"</p>
        <p>- Jason B. from Utah</p>
        <br />
        <p>"I have been in the Automotive Industry for over 15 years, dealt with many vendors and manufacturers in addition to building a number of project vehicles. The quality and fitment of the Roadwire interior in our 2011 Paxton Supercharged Mustang 5.0 is second to none. They use only the best materials and best people which is evident in the final product. One of the best compliments is the countless times we have heard "Is that a factory upgrade option" in regards to the interior which is priceless in my opinion. I will continue to use and suggest Roadwire interiors and products to all of our customers."</p>
        <p>Alexander V. from California</p>
    </div>

    <div expand-sect expand-title='Partners'>
        <div class="pull-left"> 
            <img alt="" src="@Url.Content("~/Images/Linkout/partners.png")"  class="img-polaroid"/>
         </div>
    </div>

</div>


