<div id="confirm-order">

    <div id="pick-prod-first" ng-hide="pickedProduct()" >
        <button class="btn btn-large btn-primary" type="button" ng-click="routeType()">
            <i class="icon-arrow-left icon-white"></i>
            Please select your product first
        </button>
    </div>

    <div id="confirm-info" class="row" ng-show="pickedProduct()">
        <div id="order-recap" class="span7">
            <h4>Confirm Your Order</h4>
            
            <div id="leather-recap" class="order-line" ng-show="pickedLeather()">
                <div class="row"><div class="span5"><strong>Leather Seat</strong></div></div>
                
                <div class="row">
                    <div class="span1">
                        <img ng-src="{{leather.leaCol.colorurl}}" alt="{{leather.leaCol.name}}">
                    </div>
                    
                    <div class="span6">
                        
                        
                        <div class="clearfix" ng-repeat="line in invoice.leather">
                            <div class="pull-left">
                                {{line.description}}
                            </div>
                            <div class="pull-right text-right">
                                {{line.amount | currency}} 
                            </div>
                        </div>

                        <div>Part Number: {{leather.leaCol.name}}</div>
                        <div>Pattern: {{leatherPtrnDescr()}}</div>

                    </div>
                </div>
            </div>
                
            <div id="heaters-recap" class="order-line" ng-show="pickedHeater()">
                <div class="row"><div class="span5"><strong>Seat Heaters</strong></div></div>

                <div class="row" ng-repeat="line in invoice.heater">
                    <div class="span6 offset1">
                        <div class="clearfix">
                            <div class="pull-left">
                                {{line.description}}
                            </div>
                            <div class="pull-right text-right">
                                 {{line.amount | currency}} 
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="discount" class="order-line" ng-show="invoice.discount.length > 0">
                <div class="row"><div class="span6"><strong>Discount</strong></div></div>
                <div class="row" ng-repeat="line in invoice.discount">
                    <div class="span6 offset1">
                        <div class="clearfix">
                            <div class="pull-left">
                                {{line.description}}
                            </div>
                            <div class="pull-right text-right">
                                 {{line.amount | currency}} 
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div id="total" class="order-line" ng-show="pickedProduct()">
                <div class="row"><div class="span6"><strong>Total</strong></div></div>
                <div class="row" ng-repeat="line in invoice.total">
                    <div class="span6 offset1">
                        <div class="clearfix">
                            <div class="pull-left">
                                {{line.description}}
                            </div>
                            <div class="pull-right text-right">
                                 {{line.amount | currency}} 
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="car-recap" class="order-line" ng-show="leather.make">
                <div class="row"><div class="span5"><strong>Your Car</strong></div></div>
                <div class="row">
                    <div class="span5 offset1">
                        {{leather.make.name}} {{leather.year.name}} {{leather.model.name}} {{leather.car.name}}
                    </div>
                </div>
            </div>

            <div id="schedule-recap" class="order-line" ng-show="pickedSchedule()">
                <div class="row"><div class="span5"><strong>Scheduling Details</strong></div></div>
                <div class="row">
                    <div class="span5 offset1">

                        <ul class="inline">
                          <li>Location: {{schedule.installer.descr}}</li>
                          <li ng-show="schedule.installer.miles">Miles: {{schedule.installer.miles}}</li>
                          <li ng-show="schedule.schedDate">Date: {{schedule.schedDate}}</li>
                          <li ng-show="schedule.tod">Time Of Day: {{schedule.tod}}</li>
                          <li ng-show="schedule.note">Note: {{schedule.note}}</li>
                        </ul>
                        
                    </div>
                </div>
            </div>
 
            <hr />

            <div class="alert alert-block alert-info" ng-show="!pickedLeather()">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <a href ng-click="routeLeather()">
                    <h4 id="leather-offer"><i class="icon-question-sign t icon-white"></i> Interested in adding Leather Seats?</h4>
                    <p>Roadwire offers the finest leather interiors in the business. Take a look at our excellent offers!</p>
                </a>
                <button class="btn btn-small btn-info" type="button" ng-click="routeLeather()">
                    Yes, Add Leather Seats
                </button>
                <button type="button" class="pull-right btn btn-small btn-info" data-dismiss="alert">
                    No Thanks
                </button>
            </div>

            <div class="alert alert-block alert-info" ng-show="!pickedHeater()">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <a href ng-click="routeHeaters()">
                    <h4 id="heater-offer"><i class="icon-question-sign t icon-white"></i> Interested in adding Seat Heaters?</h4>
                    <p>Roadwire offers the finest seat heating systems in the business. Take a look at our excellent offers!</p>
                </a>
                <button class="btn btn-small btn-info" type="button" ng-click="routeHeaters()">
                    Yes, Add Seat Heaters
                </button>
                <button type="button" class="pull-right btn btn-small btn-info" data-dismiss="alert">
                    No Thanks
                </button>
            </div>

            <div class="alert alert-block alert-info" ng-show="!pickedSchedule()">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <a href ng-click="routeSchedule()">
                    <h4><i class="icon-question-sign t icon-white"></i> Would you like to schedule your installation?</h4>
                </a>
                <p>
                    <a href ng-click="installInfo()"><i class="icon-info-sign"></i> Professional installation is included with your purchase so schedule now.</a>
                </p>
                <button class="btn btn-small btn-info" type="button" ng-click="routeSchedule()">
                    Yes, Schedule Installation
                </button>
                <button type="button" class="pull-right btn btn-small btn-info" data-dismiss="alert">
                    No Thanks
                </button>
            </div>

        </div>
        
        <div id="member-info" class="span5">
            <div class="well">
                <h4>Enter Costco Member Information</h4>
                <div class="control-group">
                    <label class="control-label" for="inputEmail">Member Email</label>
                    <div class="controls">
                        <input type="text" id="inputEmail" placeholder="Email" ng-model="member.email"/>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="inputFirst">First Name</label>
                    <div class="controls">
                        <input type="text" id="inputFirst" placeholder="First Name" ng-model="member.firstname"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputLast">Last Name</label>
                    <div class="controls">
                        <input type="text" id="inputLast" placeholder="Last Name" ng-model="member.lastname"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputPhone">Phone</label>
                    <div class="controls">
                        <input type="text" id="inputPhone" placeholder="Phone" ng-model="member.phone"/>
                    </div>
                </div>

                <div id="member-info-done" class="alert alert-block alert-info" ng-show="memberInfo()">
                    
                    <h4><i class="icon-question-sign t icon-white"></i>You are done!</h4>
                    <div id="buttons" class="pagination-centered">
                        <button class="btn btn-large btn-primary" type="button" ng-click="linkToCostCo()">
                            Complete Order on Costco.com
                        <i class="icon-arrow-right icon-white"></i></button>
                    </div>
                
                </div>

                <div id="member-info-alert" class="alert alert-block alert-info" ng-hide="memberInfo()">
                    <h4><i class="icon-question-sign t icon-white"></i>You are almost done!</h4>
                    <p>Complete your Costo member information.</p>
                </div>



            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#leather-offer").tooltip({
            'title': 'Roadwire offers the finest leather interiors in the business. Take a look at our excellent offers!',
            'placement': 'bottom'
        });
        $("#heater-offer").tooltip({
            'title': 'Roadwire offers the finest seat heating systems in the business. Take a look at our excellent offers!',
            'placement': 'bottom'
        });
    });
</script>