<div id="linkout-faq">
    <h3>FAQ</h3>

    <h5>Frequently-Asked Questions about Car Leather Interiors</h5>

    <div faq-q-a faq-q='Do car dealers use Roadwire?'>
        <p>For over 40 years, Roadwire has been the choice of car dealers nationwide to enhance and upgrade the luxury of their customers. Most often, customers want a higher level of luxury but do not want to invest in a higher trim level. Instead, they buy the mid-level trim and upgrade their seats and interiors with Roadwire. We partner with some of the biggest car brands in the world, including major car manufacturers such as Mitsubishi, Dodge, and Ford and well as the top performance brands including as Shelby, Saleen, and ROUSH.</p>
        <p>For the first time, Roadwire is bringing its dealer upgrades direct from the factory to you in order to save you money. While you may find many covers on Costco that fit your seats, Roadwire manufactures complete upholstery replacement products that look as if they came new with your car. In addition, rather than the mistakes and overrun leather products that you will find on Costco, Roadwire’s products are custom made specifically to fit your vehicle with your choice of colors. You can be confident that you are getting the highest quality products at the best deal by buying direct from the source.</p>
        <p>Roadwire manufactures OEM-styled leather-trimmed interiors and patented technology designed to enhance comfort and safety for the next generation of automobiles. We represent three generations of entrepreneurship in the automotive aftermarket and are the pioneers of automotive restyling, are the first manufacturer of restoration interiors for classic cars, and are the first American manufacturer to supply automakers with interior upgrades. We still build pride into every product and appreciate your business.</p>
    </div faq-q-a>

    <div faq-q-a faq-q='Do I need professional installation?'>
        <p>There is nothing quite as satisfying as building or fixing something yourself. However, there are some things that are better left to the professionals. While Roadwire’s products help deliver the ultimate driving experience, the greatest and most long-lasting enjoyment comes when they are properly installed.</p>
        <p>For this reason, Roadwire has bundled professional installation into all of its product packages. Roadwire has partnered with InstallerNet, the largest independent installation network in the country, to match you with qualified, top-rated, local restylers that can help you get the most out of your Roadwire products. When you make a purchase on Costco, you will receive an InstallCard. Simply visit the website on the back of the card or call the number, enter the code, and schedule your install. It is that easy. If you run in to any problems, InstallerNet's friendly installation coordinators can assist you with any questions you may have.</p>
        <p>Now, Roadwire and InstallerNet have removed the hassle from buying products on Costco. We have bundled the product, professional installation, free shipping, and our industry-leading 3 year/36,000 mile warranty into one low price. Buy with confidence knowing you are getting the best deal, direct from the manufacturer to you!</p>
    </div faq-q-a>

    <div faq-q-a faq-q='Are these complete seats?'>
        <p>We do not sell any of the physical seats.  We only sell replacement upholstery that will fully replace the existing upholstery in your vehicle.  The seat frame and foam will remain the same while the existing covers on your current seats will be removed and our interior package will be installed in its place.</p>
    </div faq-q-a>

    <div faq-q-a faq-q='Will the leather fit tightly?'>
        <p>Leather is a product of nature, therefore, it is susceptible to many different environmental occurrences. Roadwire’s leather-trimmed interiors are not artificially cured, meaning the leather is not pre-shrunk with water or oven treatments. Leather, being a product of nature, shrinks. If a leather-trimmed interior is pre-shrunk, to fit tight, it will continue to shrink, causing unnatural appearances and unnecessary premature aging. If you notice a slightly loose fit, it will cure with the natural elements of heat, man-made heat, and time. Most OEM Interiors have sat on a car dealership lot or have been in transit for weeks or months. The leather has cured and may even still appear wrinkled. Roadwire’s leather trimmed interiors need time to cure for a perfect fit.</p>
    </div faq-q-a>

    <div faq-q-a faq-q='What is included in an upholstery kit? '>
        <p>Our interior kits are designed to replace all of the upholstery on the seating areas. Our packages are priced to include all the pre-sewn covers needed to re-upholster all the seats in your vehicle. For instance, a minivan or SUV with three rows of seating will include all the covers for all three rows.  There are exceptions, mainly on older vehicles that were built before 1990, where we will only have the front seats available.</p>
    </div faq-q-a>

    <div faq-q-a faq-q='What if I only need a part of the upholstery kit? Can I purchase just certain parts? '>
        <p>Our interior kits are manufactured to give the customer the greatest savings when purchasing the whole kit. We can however sell only certain parts of the interior as might be needed by the customer. These prices vary depending on the pieces needed. Please call us at 1-877-762-3947 and we can work out a quote on the pieces that you might need.</p>
        <p>We do not suggest replacing only pieces of your interior because UV rays, blue jean dye, and wear and tear will change the color and texture of your existing interior.  Our colors, though similar to factory colors, are not exact, and our leather has a different texture and so it will not be an exact match, even to a brand new car. It is always best to replace as much of the upholstery as possible so that you do not have a clash between old worn-out leather and brand new leather, and also so that color and texture matching will not be an issue.</p>
    </div faq-q-a>

    <div faq-q-a faq-q='Do you have pictures of your upholstery kit in my vehicle?'>
        <p>We have a large picture archive of interiors that we have built over the years.  Please email us with your name, telephone number, vehicle details, and your picture request, and allow us a day or two to respond and we will send you examples if we have them.</p>
    </div faq-q-a>

    <div faq-q-a faq-q='Does Roadwire offer leather interiors for all cars and trucks?'>
        <p>Our product line is comprehensive and is constantly expanding. With more than 6,000 different vehicle applications, we offer leather-trimmed interiors for almost any car or truck on the road today.</p>
    </div faq-q-a>

    <div faq-q-a faq-q='How does the quality of a Roadwire interior compare to a factory-installed leather interior?'>
        <p>Our interiors are produced from the finest imported automotive leathers and are specifically engineered to meet or exceed factory performance specifications. Our quality and craftsmanship have been tested and approved by a variety of new vehicle manufacturers, including Mitsubishi and Ford Motor Company.</p>
    </div faq-q-a>

    <div faq-q-a faq-q='Does it come with a warranty?'>
        <p>Yes. Every Roadwire leather trimmed interior is backed by a 3 year/36,000 mile national warranty.</p>
    </div faq-q-a>

    <div faq-q-a faq-q='How much will it cost?'>
        <p>Suggested retail prices for Roadwire interiors depend on your vehicle and the options you would like to have.  Ask your restyler, or if you have not yet selected one, call our customer service team  at 1-877-762-3947 for your nearest Roadwire Authorized Installer.</p>
    </div faq-q-a>

    <div faq-q-a faq-q='How long does it take to get leather installed?'>
        <p>Depending on your options and your vehicle, the interior for your vehicle will be shipped from our nearest warehouse, or it will be custom made.  The restyler usually handles all of the logistics, and the interior is usually installed in a few hours.</p>
    </div faq-q-a>

    <div faq-q-a faq-q='Will leather add value to my car?'>
        <p>Leather increases the value of a vehicle to a lender because, if given a choice, most consumers prefer leather. Leather not only provides visual appeal and comfort, but also has tremendous practical value due to ease of clean up and maintenance.</p>
    </div faq-q-a>

    <div faq-q-a faq-q='What options are available for Roadwire interiors?'>
        <p>Roadwire has a multitude of options available for most interiors.  For the best answer to how your interior can be customized, ask your restyler.  If you have not chosen a restyler, call 1-877-762-3947 and have our customer service team answer your questions and help you find a Roadwire Authorized Installer in your area.</p>
    </div faq-q-a>

</div>