<a class="btn" href ng-click="routeHeaters()" title="Purchase Seat Heaters">
    <span ng-hide="pickedHeater()">Order Now </span>
    <span ng-show="pickedHeater()">Review Order </span>
    <i class="icon-arrow-right"></i>
</a>