 <a class="btn" href ng-click="routeLeather()" title="Purchase Leather Seats">
    <span ng-hide="pickedLeather()">Order Now </span>
    <span ng-show="pickedLeather()">Review Order </span>
    <i class="icon-arrow-right"></i>
 </a>