@{
    ViewBag.Title = "Roadwire Seat Heaters";
}

<div class="container">
    <div class="row">
        <div class="span4">
            <img src="../../Images/Mock/seat_heat.png" />
        </div>
        <div class="span5">
            <div class="row">
                <div class="span4">
                    <h4>Roadwire Seat Heaters</h4>
                    <h4>Add Comfort to Your Driving Experience</h4>
                </div>
            </div>
            <div class="row">
                <div class="span4">
                    <p>Item # 1XXX2340XX</p>
                    <p>Features:</p>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. </p>
                    <strong>
                        @Html.ActionLink(
                            "Ordering is Easy", 
                            "Index",
                            "Linkout", 
                            Request.Url.Scheme, 
                            null, 
                            "/heaters", 
                            null,
                            new { target = "_blank" }
                        )
                    </strong>
                    <ul>
                        <li><span style="font-weight: bold;">
                            
                            @Html.ActionLink(
                                "Click here to order .", 
                                "Index",
                                "Linkout", 
                                Request.Url.Scheme, 
                                null, 
                                "/heaters", 
                                null,
                                new { target = "_blank" }
                            )

                        </li>
                        <li>
                            Add item to cart and check out</li><li>Your order will be shipped direct to you from Roadwire
                        </li>
                        <li>
                            For service and warranty issues contact Roadwire at (800) 555-XXXX or 
                            <a href="mailto:costcosupport@roadwirex.comx">costcosupport@Roadwire.com</a>
                       </li>
                                        
                    </ul>

                </div>
            </div>
        </div>
        <div class="span3">
            <div class="well">
                Top Rated Products
            </div>
        </div>
    </div>
</div>
