
@{
    ViewBag.Title = "Mock Costco Wholesale";
}

<h4>Roadwire Products</h4>

<div class="container">
    <div class="row">
        <div class="span2">
            <!--Sidebar content-->
        </div>
        <div class="span10">
            <div class="row">
                <div class="span3">
                    <a href="@Url.Action("CostcoLeather")">
                        <img src="../../Images/Mock/auto_upho.png" />
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p><strong>Professional Installation Included</strong></p>
                        <p>Up to $XXX.00 OFF</p>
                    </a>
                    <a class="btn  btn-info" href="@Url.Action("CostcoLeather")">
                        More Details
                    </a>

                </div>
                <div class="span3">
                    <a href="@Url.Action("CostcoHeaters")">
                        <img src="../../Images/Mock/seat_heat.png" />
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non.</p>
                        <p>Donec id elit non mi porta gravida at eget metus. Nullam id dolor i.</p>
                        <p><strong>Professional Installation Included</strong></p>
                        <p>Up to $XXX.00 OFF</p>
                    </a>
                    <a class="btn  btn-info" href="@Url.Action("CostcoHeaters")">
                        More Details
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
