<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>

  <configSections>
    <section name="NetSuiteSection" type="Linkout.NetSuiteConfiguration" />
  </configSections>

  <appSettings>
    <add key="TestValue" value="Test Value" />
  </appSettings>

  <connectionStrings>

  </connectionStrings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <NetSuiteSection>
    <Uri
      scheme="https"
      formsHost="forms.sandbox.netsuite.com"
      sysHost="system.sandbox.netsuite.com"

      scriptPath="app/site/hosting/scriptlet.nl"
      custRecPath="app/common/custom/custrecordentry.nl"
      itemPath="app/common/item/item.nl"
      
      compidVal="801095"
      hVal="20a61f1484463b5b9654"

      selScriptVal="32"
      selDeployVal="1"
    />
  </NetSuiteSection>

</configuration>
