@{
    ViewBag.Title = "Cars";
}

<style>
    .fill-body
    {
        position:fixed;
        top:160px;
        bottom:5px;
        overflow: scroll;
    }
    #tree-display 
    {
        left:50px;
        right: 400px;
    }
    #node-details 
    {
        right: 50px;
        width:300px;
    }
</style>

<div ng-controller="TreeCtrl">
    <div>
        <select id="slct-int-cols" title="Interior Color" ng-model="ctlg">
            <option value="" class="ng-binding">-- Select Catalog --</option>
            <option value="1">Classic Cars</option>
            <option value="3">eBay Listings</option>
            <option value="2">The Other One</option>
        </select>
        {{ctlg}}
    </div>

    <div id="tree-display" class="fill-body well">

        <div ng-show="tree.isLoading" class="loading">...</div>

        <ul class="tree">
            <li ng-repeat="node in tree.kids" ng-include src="'Configure/Partials/CarNode'">
            </li>
        </ul>

    </div>
    
    <div id="node-details" class="fill-body well">
        <table class="table table-condensed" ng-show="selectNode">
            <tr>
                <th colspan="2">{{selectNode.display}}</th>
            </tr>
            <tr ng-repeat="link in selectNode.links" >
                <td colspan="2">
                    <a href="{{link.linkurl}}" target="_blank" title="Link to {{link.name}}">
                        <img ng-src="/Images/Configure/NetSuite.ico" alt="NetSuite" /> {{link.name}}
                    </a>
                </td>
            </tr>
            <tr ng-repeat="detail in selectNode.details" >
                <td>{{detail.name}}</td>
                <td>{{detail.value}}</td>
            </tr>
        </table>
    </div>

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(window).bind('scroll', function () {
            var s = $(window).scrollTop();
            var p = 120 - s;
            var t = 0;
            if (p > 0) {
                t = p;
            }
            $('.fill-body').css('top', t + 'px');
        });
    });
</script>