@{
    ViewBag.Title = "Cars";
}

<div ng-controller="TreeCtrl">

    <ul class="tree">
        <li ng-repeat="node in tree.kids" ng-include src="'Configure/Partials/Node'">
        </li>
    </ul>

</div>

@*
<script type="text/ng-template"  id="tree_item_renderer.html">
    {{data.name}}
    <button class="btn btn-primary" ng-click="add(data)">Add child to {{data.name}}</button>
    <button class="btn btn-primary" ng-click="addSibxx(data)">Delete {{data.name}}</button>
    <button class="btn btn-primary" ng-click="delete(data)" ng-show="data.nodes.length > 0">Delete childeren of {{data.name}}</button>
    <ul>
        <li ng-repeat="data in data.nodes" ng-include="'tree_item_renderer.html'"></li>
    </ul>
</script>
<hr />
<ul ng-controller="TreeController">
    <li ng-repeat="data in tree" ng-include="'tree_item_renderer.html'"></li>
</ul>
*@
