@{
    ViewBag.Title = "Include";
}

    <div>
        <span ng-click="node.explapse()">
            <i class="icon-caret-right icon-large" title="expand" ng-show="node.canExpand()"></i>
            <i class="icon-caret-down icon-large" title="collapse" ng-show="node.canCollapse()"></i>
            {{node.type}} {{node.name}} @*showing:{{node.showing()}} expanded:{{node.expanded}}*@
        </span>

        <span ng-show="node.isLoading" class="loading">...</span>

        <button ng-show="node.canHaveKids()" class="btn btn-mini" ng-click="node.loadKids()"><i class="icon-plus"></i></button>

    </div>

    <ul class="tree">
        <li ng-repeat="node in node.kids" ng-show="node.showing()"  ng-include src="'Configure/Partials/Node'">
        </li>
    </ul>

@*    <button class="btn btn-primary" ng-click="node.addKid('kiddy')">Add child to {{node.name}}</button>
*@
