@{
    ViewBag.Title = "Include";
}

    <div>
        <i class="icon-caret-right icon-large" title="expand" ng-show="node.canExpand()" ng-click="node.expand()"></i>
        <i class="icon-caret-down icon-large" title="collapse" ng-show="node.canCollapse()" ng-click="node.collapse()"></i>
        {{node.type}} {{node.name}} @*showing:{{node.showing()}} expanded:{{node.expanded}}*@

        <button ng-show="node.canHaveKids()" class="btn btn-mini" ng-click="node.addKid()"><i class="icon-plus"></i></button>

    </div>

    <ul class="tree">
        <li ng-repeat="node in node.kids" ng-show="node.showing()"  ng-include src="'Configure/Partials/Node'">
        </li>
    </ul>

@*    <button class="btn btn-primary" ng-click="node.addKid('kiddy')">Add child to {{node.name}}</button>
*@
