@{
    ViewBag.Title = "Include";
}

<section>
    <div class="btn" ng-click="node.explapse()" ng-show="node.canHaveKids()">
        <span ng-hide="node.isLoading">
            <i class="icon-caret-right icon-large" title="expand" ng-show="node.canExpand()"></i>
            <i class="icon-caret-down icon-large" title="collapse" ng-show="node.canCollapse()"></i>
            <i class="icon-frown icon-large" title="error" ng-show="node.kidsError()"></i>
        </span>
        <span ng-show="node.isLoading" class="loading">...</span>
    </div>
    <div class="node-body" ng-click="nodeSelect(node)">
        {{node.type}} {{node.display}} 
    </div>

    <ul class="tree">
        <li ng-repeat="node in node.kids" ng-show="node.showing()"  ng-include src="'Configure/Partials/Node'">
        </li>
    </ul>
</section>