@{
    ViewBag.Title = "Include";
}

    <div>
        <i class="icon-expand" title="expand" ng-show="node.canExpand()" ng-click="node.expand()"></i>
        <i class="icon-collapse" title="collapse" ng-show="node.canCollapse()" ng-click="node.collapse()"></i>
        {{node.name}} @*showing:{{node.showing()}} expanded:{{node.expanded}}*@
        <button class="btn btn-mini" ng-click="node.addKid()"><i class="icon-remove"></i></button>
    </div>

    <ul class="tree">
        <li ng-repeat="node in node.kids" ng-show="node.showing()"  ng-include src="'Configure/Partials/Node'">
        </li>
    </ul>

@*    <button class="btn btn-primary" ng-click="node.addKid('kiddy')">Add child to {{node.name}}</button>
*@
