@{
    ViewBag.Title = "Pricing";
}

    <style>
        form
        {
            border-top: 1px solid #dddddd;
            margin: 10px 0 0 0;
        }
        
    </style>

<section ng-controller="PricingCtrl">

    <div class="row">
        <div class="span6">
            <div cc-prod-editor prod-model="pricer.l1" prod-name="l1"></div>
            <div cc-prod-editor prod-model="pricer.l2" prod-name="l2"></div>
            <div cc-prod-editor prod-model="pricer.l3" prod-name="l3"></div>
        </div>
        <div class="span6">
            <div cc-prod-editor prod-model="pricer.h1" prod-name="h1"></div>
            <div cc-prod-editor prod-model="pricer.h2" prod-name="h2"></div>
            <div class="row"> <div class="span1">Discount:</div> <div class="span5"> {{pricer.h2Discount() | currency}} </div></div>
        </div>
    </div>
    
    <div class="row">
        <div class="span6">
            <div cc-prod-editor prod-model="pricer.l1h1" prod-name="l1h1"></div>
            <div class="row"> <div class="span1">Discount:</div> <div class="span5"> {{pricer.l1h1Discount() | currency}} </div></div>

            <div cc-prod-editor prod-model="pricer.l2h1" prod-name="l2h1"></div>
            <div class="row"> <div class="span1">Discount:</div> <div class="span5"> {{pricer.l2h1Discount() | currency}} </div></div>

            <div cc-prod-editor prod-model="pricer.l3h1" prod-name="l3h1"></div>
            <div class="row"> <div class="span1">Discount:</div> <div class="span5"> {{pricer.l3h1Discount() | currency}} </div></div>
        </div>
        <div class="span6">
            <div cc-prod-editor prod-model="pricer.l1h2" prod-name="l1h2"></div>
            <div class="row"> <div class="span1">Discount:</div> <div class="span5"> {{pricer.l1h2Discount() | currency}} </div></div>

            <div cc-prod-editor prod-model="pricer.l2h2" prod-name="l2h2"></div>
            <div class="row"> <div class="span1">Discount:</div> <div class="span5"> {{pricer.l2h2Discount() | currency}} </div></div>

            <div cc-prod-editor prod-model="pricer.l3h2" prod-name="l3h2"></div>
            <div class="row"> <div class="span1">Discount:</div> <div class="span5"> {{pricer.l3h2Discount() | currency}} </div></div>
        </div>
    </div>


</section>


@*             
    <form name="zipForm" class="form-inline" novalidate="novalidate">
        <input type="text" name="locZip" id="locZip" ng-model="pricer.l1.price" ng-pattern="/^\d+\.?\d*$/" >
        <span class="text-warning" ng-show="zipForm.locZip.$error.pattern"> Enter a valid zipcode </span>
    </form>
             
*@
             
@*    <form name="myForm" novalidate="novalidate">
        <input type="text" name="price" id="price" ng-model="pricer.l1.price" ng-pattern="/^\d+\.?\d*$/" required/>{{pricer.l1.price}}
        <span class="text-warning" ng-show="myForm.price.$error.pattern"> Enter a valid number </span>
        <span class="text-warning" ng-show="myForm.$error.required"> Enter a number </span>
    </form>
*@
@*      <tt>myForm.price.$valid = {{myForm.price.$valid}}</tt><br>
      <tt>myForm.price.$error = {{myForm.price.$error}}</tt><br>
      <tt>myForm.$valid = {{myForm.$valid}}</tt><br>
      <tt>myForm.$error.required = {{!!myForm.$error.required}}</tt><br>
      <tt>myForm.$error.minlength = {{!!myForm.$error.minlength}}</tt><br>
      <tt>myForm.$error.maxlength = {{!!myForm.$error.maxlength}}</tt><br>
*@