
<style>
    form
    {
        margin: 10px 0 0 0;
    }
</style>

<h4>Costco Product Listing</h4>


<section id="pricing-listing">

    <div class="row">
        <div class="span2"><strong>Product</strong></div>
        <div class="span6"><strong>Description</strong></div>
        <div class="span2"><strong>Price</strong></div>
        <div class="span2 text-right"><strong>Discount</strong></span> </div>
    </div>
    <form name="prodForm" class="form-inline" ng-repeat="p in listing.prodList">
        <div class="row">
            <div class="span2"> {{$index+1}}) <strong>{{p.type}}</strong> </div>
            <div class="span6"> <input type="text" class="span6" ng-model="p.description" placeholder="Descripton" /> </div>
            <div class="span2"> 
                <input type="text" name="price" id="price" class="span2" ng-model="p.price" ng-pattern="/^\d+\.?\d*$/" placeholder="Price"/>
                <span class="text-warning" ng-show="prodForm.price.$error.pattern"> Enter a valid number </span>
                <span class="text-warning" ng-show="prodForm.$error.required"> Enter a number </span>
            </div>
        
            <div class="span2 text-right"> <span ng-show="p.discount()">{{p.discount() | currency}}</span> </div>
        </div>
    </form>

    <button class="btn" type="button" ng-click="cacheListing()">
        <i class="icon-save"></i>
        Cache Listing
    </button>


</section>

