@{
    ViewBag.Title = "Configure";
}


@section styles {
    @Styles.Render("~/css/configure")
    @Styles.Render("~/css/tree")
    @Styles.Render("~/css/angular/ng-grid")
}

    <div id="configure-view" class="container">
        <div ng-view></div>
    </div>


@section scripts {
    @Scripts.Render("~/bundles/ng-grid")
}