@{
    ViewBag.Title = "Configure";
}


@section styles {
    @Styles.Render("~/css/configure")
    @Styles.Render("~/css/tree")
}

    <div id="configure-view" class="container">
        <div ng-view></div>
    </div>

