<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LinkoutEntities" 
         connectionString="metadata=res://*/LinkoutModel.csdl|res://*/LinkoutModel.ssdl|res://*/LinkoutModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.11)(PORT=1522)) (CONNECT_DATA=(SERVICE_NAME = TEST.CSTDI.COM)));PASSWORD=tigger;USER ID=SYSADM&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>